{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Boutique | Ecommerce bootstrap template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'store/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Lightbox-->
    <link rel="stylesheet" href="{% static 'store/vendor/lightbox2/css/lightbox.min.css' %}">
    <!-- Range slider-->
    <link rel="stylesheet" href="{% static 'store/vendor/nouislider/nouislider.min.css' %}">
    <!-- Bootstrap select-->
    <link rel="stylesheet" href="{% static 'store/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="{% static 'store/vendor/owl.carousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/vendor/owl.carousel2/assets/owl.theme.default.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
    
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.png">
    <script type="text/javascript">
      var user ='{{request.user}}'

      function getToken(name){
        var cookieValue = null;
        if(document.cookie && document.cookie !==''){
          var cookies =document.cookie.split(';');
          for (var i = 0;i <cookies.length ; i++){
            var cookie=cookies[i].trim();
            if (cookie.substring(0,name.length + 1)===(name +'=')){
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken =getToken('csrftoken');

      function getCookie(name){
        var cookieArr = document.cookie.split(";");

        for (var i; i <cookieArr.length; i++){
          var cookiePair=cookieArr[i].split("=");

          if (name == cookiePair[0].trim()){
            return decodeURIComponent(cookiePair[1]);
          }
        }
        return null;
      }
      var cart =JSON.parse(getCookie('cart'))
      
      if (cart == undefined){
        cart={}
        console.log('cart was created')
        document.cookie ='cart='+JSON.stringify(cart) + ";domain=;path=/"
      }
      console.log("cart:",cart);
    </script>
</head>
<body>

    <!-- <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620"> -->
          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- <a class="navbar-brand logo_h" href="{% url 'store-page' %}">Ecomm</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item active"><a class="nav-link" href="{% url 'store-page' %}">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'cart-page' %}"><i class="ti-shopping-cart"></i> cart</a></li>
              
              {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li> 
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li> 
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li> 
              {% endif %}
              
          


            <form target="_blank" novalidate="true" action=""
            method="get" class="form-inline">
            {% csrf_token %}
            <div class="d-flex flex-row">

              <input class="form-control mr-sm-2" type="search" placeholder="Search Author" aria-label="Search" name="searched">


              <button class="click-btn btn btn-primary">search<span class="lnr lnr-arrow-right"></span></button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

              
            </div>
            <div class="info"></div>
          </form>
          </div> 
        </div>
      </nav> -->

       <!-- navbar-->
       <header class="header bg-white">
        <div class="container px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="index.html"><span class="font-weight-bold text-uppercase text-dark">Shoppers-shoppy</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="{% url 'store-page' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"> <i class="fas fa-dolly-profile mr-1 text-gray"></i>Profile</a></li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ml-auto">               
                <li class="nav-item"><a class="nav-link" href="{% url 'cart-page' %}"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart<small class="text-gray">({{cartItems}})</small></a></li>
                <li class="nav-item"><a class="nav-link" href="#"> <i class="far fa-heart mr-1"></i><small class="text-gray"> (0)</small></a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> <i class="fas fa-user-alt mr-1 text-gray"></i>Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> <i class="fas fa-user-alt mr-1 text-gray"></i>Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"> <i class="fas fa-user-alt mr-1 text-gray"></i>Register</a></li>
               {% endif %}
              </ul>
            </div>
          </nav>
        </div>
      </header>
   <!-- <div class="container"> -->
     
    
      
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
      
    
  <!-- </div>      -->
  <script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
   <!-- JavaScript files-->
   <script src="{% static 'store/vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'store/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'store/vendor/lightbox2/js/lightbox.min.js' %}"></script>
   <script src="{% static 'store/vendor/nouislider/nouislider.min.js' %}"></script>
   <script src="{% static 'store/vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
   <script src="{% static 'store/vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
   <script src="{% static 'store/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
   <script src="{% static 'store/js/front.js' %}"></script>
   <script>
     // ------------------------------------------------------- //
     //   Inject SVG Sprite - 
     //   see more here 
     //   https://css-tricks.com/ajaxing-svg-sprite/
     // ------------------------------------------------------ //
     function injectSvgSprite(path) {
     
         var ajax = new XMLHttpRequest();
         ajax.open("GET", path, true);
         ajax.send();
         ajax.onload = function(e) {
         var div = document.createElement("div");
         div.className = 'd-none';
         div.innerHTML = ajax.responseText;
         document.body.insertBefore(div, document.body.childNodes[0]);
         }
     }
     // this is set to BootstrapTemple website as you cannot 
     // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
     // while using file:// protocol
     // pls don't forget to change to your domain :)
     injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
     
   </script>
   <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
 
</body>
</html>
