{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<!-- <div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Welcome to the Password Reset Page</h1>
    <h3>
      Forgot your password? Please enter the email address you used to register
      with us and we will send you a link to reset your password
    </h3>
  </div>
  <br/>
  
  <form action="" method="POST" class="text-center">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Send email" /><br>
  </form><br/>
  <div class="text-center">
    <a href="{% url 'login' %}">Return to home page</a>
  </div> -->

  <section class="sign-in">
    <div class="container">
        <div class="signin-content">

            <div class="signin-form">
                <h2 class="form-title">Reset Password</h2>
                <form method="POST" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email"><i class="ti-email"></i></label>
                        <input type="email" name="email" id="id_email" placeholder="Email...">
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Login"/>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
  
{% endblock content %}
